.main{
  border: 2px solid blue;
  padding:2%;
  display: flex;
  flex-direction: column;
}
h2{
  color:brown;
}
a{
  color:purple;
  font-size:20px;
  word-wrap:break-word;
}
.left{
  border: 2px solid red;
  padding:2%;
  margin:2%;
 text-align: center;
 background-color: skyblue;
}
#idname{
  color:purple;
  font-size: 20px;
  text-align: center;
}
.left img{
  width: 50%;
  border-radius: 50%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right{
  border: 2px solid green;
  padding:2%;
  margin:2%;
  width:90%;
  background-color: skyblue;
}
@media only screen and (min-width:0px) and (max-width:480px){
  .main{
    display:flex;
    flex-direction:column;
    border: 2px solid blue;
    padding:2%;
    width:100%;
  }
  h2{
    color:purple;
  }
  .left{
    border: 2px solid red;
    padding:2%;
    margin:2%;
    width:90%;
    text-align: center;
    background-color: skyblue;
  }
  #idname{
    color:purple;
    font-size: 30px;
    text-align: center;
  }
  .table1{
    width:90%;
    overflow-x:auto;
  }
  .left img{
    width: 50%;
    border-radius: 50%;
    border: 2px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .right{
    border: 2px solid green;
    padding:2%;
    margin:2%;
    width:90%;
    background color:skyblue;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
.main{
  display:flex;
  flex-direction:column;
  border: 2px solid blue;
  padding:2%;
}
h2{
  color:brown;
}
a{
  color:purple;
  word-wrap: break-word;
}
.left{
  border: 2px solid red;
  padding:2%;
  margin:2%;
  width:90%;
  text-align: center;
  background-color: pink;
}
#idname{
  color:purple;
  font-size: 30px;
  text-align: center;
  }
.left img{
  width: 50%;
  border-radius: 50%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right{
  border: 2px solid green;
  padding:2%;
  margin:2%;
  width:90%;
  background-color: pink;
}
}
